/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/ProximaNova-Reg-webfont.eot');
  src: url('/fonts/ProximaNova-Reg-webfont.eot?#iefix') format('eot'),
       url('/fonts/ProximaNova-Reg-webfont.woff') format('woff'),
       url('/fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
       url('/fonts/ProximaNova-Reg-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "ProximaNova", sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

.pi {
  font-family: "Times New Roman", serif;
  font-size: 48px;
  font-style: italic;
}


.difficulty {
  right: 0px;
  position: absolute;
  font-size: 10px;
}

.data a {
  color: blue;
  text-decoration: none;
  // font-size: 0.5em;
}

.numbers {
  font-family: monospace;
  font-size: 16px;
}

.data a span {
  display: block;
  clear: both;
}

a.reset {
  float: right;
  color: #007700;
}

h1.correct {
  color: green;
}

h1.wrong {
  color: red;
}